alembic==1.16.2
alembic-postgresql-enum==1.7.0
annotated-types==0.7.0
anyio==4.9.0
bcrypt==4.3.0
certifi==2025.6.15
cffi==1.17.1
click==8.2.1
colorama==0.4.6
cryptography==45.0.4
deskew==1.5.3
dishka==1.6.0
dnspython==2.7.0
email_validator==2.2.0
fastapi==0.115.13
fastapi-cli==0.0.7
greenlet==3.2.3
h11==0.16.0
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
idna==3.10
imageio==2.37.0
imutils==0.5.4
Jinja2==3.1.6
lazy_loader==0.4
Mako==1.3.10
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
mypy==1.16.1
mypy_extensions==1.1.0
networkx==3.5
numpy==2.3.1
opencv-python==4.11.0.86
orjson==3.10.18
packaging==25.0
pathspec==0.12.1
pdf2image==1.17.0
pillow==11.2.1
psycopg==3.2.9
psycopg-binary==3.2.9
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.2
PyJWT==2.10.1
pytesseract==0.3.13
python-dotenv==1.1.1
python-multipart==0.0.20
PyYAML==6.0.2
rich==14.0.0
rich-toolkit==0.14.7
rtoml==0.12.0
scikit-image==0.25.2
scipy==1.16.0
shellingham==1.5.4
shortuuid==1.0.13
sniffio==1.3.1
SQLAlchemy==2.0.41
starlette==0.46.2
tifffile==2025.6.11
typer==0.16.0
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
uuid6==2025.0.0
uvicorn==0.34.3
watchfiles==1.1.0
websockets==15.0.1
